# OSX trash
.DS_Store

# IDE files / folders
.idea/
*.iml
.vscode

# User cluster configs
.kubeconfig

# Terraform
*.tfvars
*.tfvars.json
*.auto.tfvars
*.auto.tfvars.json

*.tfstate
*.tfstate.backup
crash.log

.terraform/
.terraform.lock.hcl

*.tfplan
